* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(58, 58, 58);
}
#loader {
  opacity: 0;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.container {
  border-radius: 5px;
  max-width: 800px;
  height: 150vh;
  margin: auto;
  background-color: white;
}
.weather {
  font-size: 40px;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
}
.wthr {
  background: rgb(0, 169, 110);
  /* background: rgb(221, 221, 221); */
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 3px solid white;
  border-radius: 10px;
  width: 500px;
  height: 700px;
  text-align: center;
  padding-top: 30px;
}

.city {
  font-size: 60px;
  margin-bottom: 10px;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}
.now {
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}
.celsius {
  width: 100px;
  height: 30px;
  border-radius: 7px;
  margin-left: 40px;
  margin-top: 8px;
}
.temp {
  font-size: 40px;
  margin-bottom: 0px;
  /* margin-top: 50px;
  margin-left: 230px; */
  color: white;
}
.temperature {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.fahr {
  margin-right: 40px;
  margin-top: 7px;
  font-family: "Noto Sans KR", sans-serif;
  border-radius: 7px;
  width: 100px;
  height: 30px;
}
.btns {
  text-align: center;
  padding-top: 30px;
}
.city-btn {
  padding: 5px 10px;
  margin: 0 10px;
}
.inp {
  background: rgb(220, 219, 219);
  border-radius: 10px 0px 0px 10px;
  border: blanchedalmond;
  width: 200px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: -50px;
}
.btn {
  position: absolute;
  /* left: 319px; */
  /* width: 1px; */
  /* height: 2px; */
  /* margin-left: -5px; */
  background: rgb(220, 219, 219);
  border-radius: 0px 10px 10px 0;
  border: blanchedalmond;
  width: 50px;
  height: 30px;
}

#icon {
  width: 300px;
}

@media (max-width: 500px) {
  .wthr {
    width: 350px;
    height: 600px;
  }
  .city {
    font-size: 40px;
  }
  .fahr {
    height: 40px;
  }
  .celsius {
    height: 40px;
  }
  .weather {
    font-size: 25px;
  }
}
@media (max-width: 350px) {
  /* 355 */
  .wthr {
    width: 300px;
    max-height: 600px;
  }
  .container {
    max-height: 150vh;
  }
  .city {
    font-size: 30px;
    margin-top: -10px;
  }
  .now {
    font-size: 15px;
    margin-top: -10px;
  }
  /* .temp {
    margin-top: 10px;
    margin-left: 135px;
  } */
  .celsius {
    /* margin-top: 10px; */
    font-size: 13px;
  }
  .fahr {
    /* margin-top: 10px; */
    font-size: 13px;
  }
  .weather {
    font-size: 20px;
  }
  #loader {
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 5px;
  }
  .btns {
    padding-top: 10px;
  }
}
